@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Kita tambahkan sedikit style custom agar terlihat seperti Medical Dashboard */
body {
  color: rgb(var(--foreground-rgb));
  background: #f8fafc; /* Latar belakang abu-abu sangat muda (Slate-50) */
}

.card-shadow {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}